.button {
 display: flex;
  text-decoration: none;
  color: #fff;
  padding-inline: 20px;
  padding-block: 10px;
  background: #048fa1;
  border-radius: 10px;
  transition: all 0.2s ease-in;
  justify-content: center;
  margin-top: 10px;
}

.button:hover {
  background-color: #06f1d6;
  transform: scale(1.03);
}
.buttonlogout {
 display: flex;
  text-decoration: none;
  color: #fff;
  padding-inline: 20px;
  padding-block: 10px;
  background: #cb0554;
  border-radius: 10px;
  transition: all 0.2s ease-in;
  justify-content: center;
  margin-top: 10px;
}

.buttonlogout:hover {
  background-color: #ff067a;
  transform: scale(1.03);
}

